	.body{
		width: 100%;
		height: 100%;
		text-align: center;
		font-family: "Source Sans Pro",Helvetica,sans-serif;
	}
	.navbar{
		background-color: black;
		margin: 50px  0px  0px 0px;
		width: 100%;
		text-transform: uppercase;
		word-spacing:50px;	

			}

		
	.nav {
		display: inline-flex;
	
	}

			i{
				color: #DCDCDC;
			}

			.nav::before, .nav::after{
					content '';
					height: 1px;
					width: 200px;
					background: #DCDCDC;					
					

			}

			 
	.li{
		text-transform: uppercase;
	}

	.logo{
		background-color: #DCDCDC;
		width: 100%;
		text-align: center;
		

	}
	 .logo p{
		
		font-family: "Italic";
		padding: 30px;

	}

		
		.date{
			border-left: 1px solid #DCDCDC;
			padding: 3px;
			
		}
		article{
			text-transform: uppercase;
			color: #8B0000;
			text-align: center;
		}

			 /*text-decoration: underline;
	*/
		
		h1{
			text-transform: uppercase;
		text-align: center;
			font-family: "Georgia";
		}

		h2{
			text-transform: uppercase;
			color:center;
			
		}

		.colonne{
			text-align: center;
		}

	.colonne img {
		width: 730px;
		height: 600px;
		float: :center;
		padding: 50px;
		border-left: 50px;

				}

	.meta li{
		display: inline;
			}


	
